<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>
<div>
  <%= paginate @tweets %>
</div>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<%= link_to "New tweet", new_user_tweet_path %>
