<p style="color: green"><%= notice %></p>

<%= render partial: "new" %>

<h2> Tweets </h2>
<div class="row justify-content-center">
  <%= paginate @tweets,
    theme: "bootstrap-5",
    pagination_class: "pagination-sm flex-wrap justify-content-center bg-dark",
    nav_class: "bg-dark"
  %>
</div>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>