<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>
<div class="row justify-content-center">
  <%= paginate @tweets,
    theme: "bootstrap-5",
    pagination_class: "pagination-sm flex-wrap justify-content-center bg-dark",
    nav_class: "bg-dark"
  %>
</div>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
