<li class="my-2 list-group-item d-flex bg-dark text-white justify-content-between">
  <span> <%= attribute_title %> : </span>
  <span> <%= attribute %> </span>
  <span></span>
  <%= button_to 'edit', "#", class: 'btn btn-outline-primary w-100'%>
</li>